# Ignore raw data
data/raw/

# Ignore logs
logs/

# Ignore sensitive information
config/secrets.yml

# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore venv
venv/